.portfolio-icons {
  height: 4rem;
  width: 4rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
p,
a {
  font-size: 1.6rem;
}
a {
  color: black;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
.about .about-main-dev-section .about-main-dev {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 2rem;
}
.about .about-main-dev-section .about-main-dev div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-main-dev-img {
  height: 30rem;
  width: 65%;
  border-radius: 50%;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons img {
  height: 4rem;
  width: 4rem;
  margin: 1rem 0;
}
.about .about-main-dev-section .about-main-dev .about-dev-content h3 {
  font-size: 3rem;
}
.about .about-main-dev-section .inverted-row div:first-child {
  flex-direction: row-reverse;
}
.about .about-sec-dev-section .about-sec-dev {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 1rem;
}
.about .about-sec-dev-section .about-sec-dev .about-sec-dev-img {
  width: 30%;
  height: 14rem;
  border-radius: 50%;
}
.about .about-sec-dev-section .about-sec-dev p {
  padding: 1rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons img {
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .end-row-icons {
  justify-content: flex-end;
}
.about .about-sec-dev-section .inverted-row {
  flex-direction: row-reverse;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 2rem;
}
footer .footer-contact-form {
  padding: 2rem;
}
footer .footer-contact-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
footer .footer-contact-form div input {
  width: 48%;
}
footer .footer-contact-form textarea {
  width: 99%;
  height: 12rem;
}
