.input-styling {
  background: #b0b0ac;
  border-color: #b0b0ac;
  border-radius: 0.5rem;
}
.background-styling {
  background-image: url(../css/images/bg02.png), url(../css/images/bg02.png), url(../css/images/bg01.png);
  background-position: top left, top left, top left;
  background-size: 100% 6em, 100% 6em, auto;
  background-repeat: no-repeat, no-repeat, repeat;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  color: #e0e0e0;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
p,
a {
  font-size: 1.6rem;
}
a {
  color: black;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
@media (min-width: 800px) {
  .container {
    margin: 0 auto;
    width: 800px;
  }
}
.about .about-main-dev-section {
  background: #4a4a4a;
  background: radial-gradient(circle, #4a4a4a 0%, #2d2c2c 100%);
  border-bottom: #FFC300 0.5rem solid;
  padding: 2rem 0;
}
.about .about-main-dev-section .about-main-dev {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 2rem;
}
@media (min-width: 650px) {
  .about .about-main-dev-section .about-main-dev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }
}
.about .about-main-dev-section .about-main-dev div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
@media (min-width: 800px) {
  .about .about-main-dev-section .about-main-dev div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
}
.about .about-main-dev-section .about-main-dev div:first-child .about-main-dev-img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 1rem solid #e0e0e0;
  z-index: 1;
}
@media (min-width: 650px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-main-dev-img {
    height: 25rem;
    width: 25rem;
  }
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons {
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 15rem;
  width: 9rem;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons img:first-child {
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem 0;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons img:first-child:hover {
  background: white;
  border-radius: 3rem;
  border: #FFC300 3px solid;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons img + img {
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem 0;
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons img + img:hover {
  background: white;
  border-radius: 3rem;
  border: #FFC300 3px solid;
}
@media (min-width: 800px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons {
    flex-direction: row;
    width: 12rem;
    height: 5rem;
    margin-top: 1rem;
    justify-content: space-around;
  }
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-right {
  position: absolute;
  left: 32rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
@media (min-width: 650px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-right {
    left: 26rem;
  }
}
@media (min-width: 650px) and (min-width: 800px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-right {
    position: static;
    border-radius: 1rem;
  }
}
.about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-left {
  position: absolute;
  right: 32rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
@media (min-width: 650px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-left {
    right: 26rem;
  }
}
@media (min-width: 650px) and (min-width: 800px) {
  .about .about-main-dev-section .about-main-dev div:first-child .about-dev-icons-left {
    position: static;
    border-radius: 1rem;
  }
}
@media (min-width: 650px) {
  .about .about-main-dev-section .about-main-dev .about-dev-content {
    width: 45%;
  }
}
@media (min-width: 650px) and (min-width: 800px) {
  .about .about-main-dev-section .about-main-dev .about-dev-content {
    width: 60%;
  }
}
.about .about-main-dev-section .about-main-dev .about-dev-content h3 {
  font-size: 3rem;
  background: black;
  color: #e0e0e0;
  width: 12rem;
  padding: 1rem;
  border-bottom: #FFC300 0.3rem solid;
}
.about .about-main-dev-section .about-main-dev .about-dev-content p {
  background: #e0e0e0;
  padding: 1rem;
  border-radius: 1rem;
  color: #333;
  box-shadow: 3px 3px 2px black;
}
.about .about-main-dev-section .about-main-dev .right-h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
@media (min-width: 650px) {
  .about .about-main-dev-section .inverted-row {
    flex-direction: row-reverse;
  }
}
.about .about-main-dev-section .inverted-row div:first-child {
  flex-direction: row-reverse;
}
@media (min-width: 800px) {
  .about .about-main-dev-section .inverted-row div:first-child {
    flex-direction: column;
  }
}
.about .about-sec-dev-section {
  background: #808080;
  background: radial-gradient(circle, #808080 0%, #555555 100%);
  color: white;
  padding: 2rem 0;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
.about .about-sec-dev-section .about-sec-dev {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev {
    flex-direction: column;
    width: 30%;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-sec-dev-img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 0.3rem solid #333;
}
.about .about-sec-dev-section .about-sec-dev p {
  padding: 1rem;
  box-shadow: 3px 3px 2px black;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev .about-dev-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-content-text {
    align-items: center;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-content-text h3 {
  background: #e0e0e0;
  color: black;
  width: 15rem;
  padding: 1rem;
  border-bottom: #FFC300 0.3rem solid;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-content-text p {
  background: #333;
  width: 90%;
  border-radius: 2rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .flex-start {
  align-items: flex-start;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev .about-dev-content .flex-start {
    align-items: center;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  background: #e0e0e0;
  width: 20rem;
  border-top-right-radius: 15rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons img:first-child {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 1rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons img:first-child:hover {
  background: white;
  border-radius: 3rem;
  border: #FFC300 3px solid;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons img + img {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 1rem;
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons img + img:hover {
  background: white;
  border-radius: 3rem;
  border: #FFC300 3px solid;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev .about-dev-content .about-dev-icons {
    border-radius: 2rem;
    justify-content: center;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content .end-row-icons {
  justify-content: flex-end;
  border-top-left-radius: 15rem;
  border-top-right-radius: 0;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .about-sec-dev .about-dev-content .end-row-icons {
    border-radius: 2rem;
    justify-content: center;
  }
}
.about .about-sec-dev-section .about-sec-dev .about-dev-content > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
}
.about .about-sec-dev-section .inverted-row {
  flex-direction: row-reverse;
}
@media (min-width: 800px) {
  .about .about-sec-dev-section .inverted-row {
    flex-direction: column;
  }
}
.about .about-built-banner {
  background: #FFC300;
  background: radial-gradient(circle, #ffc300 0%, #d09f01 100%);
  color: black;
  padding: 2rem 0;
}
.about .about-built-banner h2 {
  text-align: center;
  padding: 1rem 0 2rem 0;
}
.about .about-built-banner div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-built-banner div img {
  filter: grayscale(100%);
  padding: 0 2rem;
}
.about .about-built-banner div img:hover {
  filter: grayscale(0%);
}
.about .about-built-banner div img:first-child {
  height: 3.5rem;
  width: 9rem;
}
.about .about-built-banner div img:nth-child(2) {
  height: 9.5rem;
  width: 9rem;
}
.about .about-built-banner div img:nth-child(3) {
  height: 7.5rem;
  width: 9rem;
}
.about .about-built-banner div img:nth-child(4) {
  height: 6.5rem;
  width: 9rem;
}
.about .about-built-banner div img:nth-child(5) {
  height: 4.5rem;
  width: 9rem;
}
.about .about-built-banner div img:last-child {
  height: 9.5rem;
  width: 9rem;
}
footer {
  background: #4a4a4a;
  color: white;
  background: radial-gradient(circle, #4a4a4a 0%, #2d2c2c 100%);
}
@media (min-width: 800px) {
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
  }
}
@media (min-width: 800px) {
  footer .container div {
    width: 30%;
  }
}
footer .footer-nav-h3 {
  padding: 2rem 0 1rem 2rem;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 2rem;
}
footer .footer-nav a {
  color: #ececec;
  text-decoration: underline;
  margin: 1rem 0;
}
footer .footer-contact-form {
  padding: 2rem;
}
@media (min-width: 650px) {
  footer .footer-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 650px) and (min-width: 800px) {
  footer .footer-contact-form {
    width: 70%;
    align-items: flex-start;
  }
}
footer .footer-contact-form div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}
footer .footer-contact-form div input {
  width: 45%;
  background: #b0b0ac;
  border-color: #b0b0ac;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
footer .footer-contact-form textarea {
  background: #b0b0ac;
  border-color: #b0b0ac;
  border-radius: 0.5rem;
  width: 99%;
  height: 12rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-bottom: 1rem;
}
footer .footer-contact-form .footer-form-button {
  background: black;
  background: radial-gradient(circle, #000000 0%, #121212 100%);
  padding: 1rem 4rem;
  color: #e0e0e0;
  border-color: #333;
  border-radius: 1rem;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
  font-size: 1.6rem;
}
footer .footer-contact-form .footer-form-button:active {
  background: #FFC300;
  color: black;
}
footer p {
  text-align: center;
  padding: 2rem;
}
