
.about {

    .about-main-dev-section {
        background: @primary-background;
        background: radial-gradient(circle, rgba(74,74,74,1) 0%, rgba(45,44,44,1) 100%);
        border-bottom: @primary-color .5rem solid;
        padding: @small 0;
        

        .about-main-dev {
            .flex(column);
            padding: @small;

            @media @tablet {
                .flex(row;space-between);
                align-items: center;

            }

            div:first-child {
                .flex(row);
                align-items: center;
                @media @desktop {
                    .flex(column);
                }
  
                .about-main-dev-img { 
                    height: 30rem;
                    width: 30rem;
                    border-radius: 50%;
                    border: 1rem solid @font-color;
                    z-index:1;
                    @media @tablet {
                        height: 25rem;
                        width: 25rem;
                    }
                }
                .about-dev-icons {
                    background: @font-color;
                    .flex(column; center);
                    align-items: center;
                    .portfolio-icons(0; @small/2);
                    height: 15rem;
                    width: 9rem;
                    @media @desktop {
                        flex-direction: row;
                        width: 12rem;
                        height: 5rem;
                        margin-top: 1rem;
                        justify-content: space-around;

                    }
                }

                .about-dev-icons-right {
                    position: absolute;
                    left: 32rem;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    @media @tablet {
                        left: 26rem;

                        @media @desktop {
                            position: static;
                            border-radius: 1rem;
                        }
                    }
                }

                .about-dev-icons-left {
                    position: absolute;
                    right: 32rem;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    @media @tablet {
                        right: 26rem;
                        @media @desktop {
                            position: static;
                            border-radius: 1rem;
                        }
                    }
                }
    
            }
            .about-dev-content {
                @media @tablet {
                    width: 45%;
                    @media @desktop {
                        width: 60%;
                    }
                }
                h3 {
                    font-size: 3rem;
                    background: black;
                    color: @font-color;
                    width: 12rem;
                    padding: @small/2;
                    border-bottom: @primary-color 0.3rem solid;
                }

                p {
                    background: @font-color;
                    padding: @small/2;
                    border-radius: 1rem;
                    color: @secondary-color;
                    box-shadow: 3px 3px 2px black;
                }
            }
            .right-h3 {
                .flex(column);
                align-items: flex-end;
            }

        }

        .inverted-row {
            @media @tablet {
                flex-direction: row-reverse;
            }
            div:first-child {
                flex-direction: row-reverse;
                @media @desktop {
                    flex-direction: column;
                }
            }
        }
    }

    .about-sec-dev-section {

        // background: @secondary-background;
        background: @secondary-background;
        background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(85,85,85,1) 100%);
        color: white;
        padding: @small 0;

        .container {
            @media @desktop {
                .flex(row;space-around);
                flex-wrap: wrap;
            }


        }
        .about-sec-dev {
            .flex;
            align-items: center;
            padding: @small/2;
            @media @desktop {
                flex-direction: column;
                width: 30%;
            }

            .about-sec-dev-img {
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
                border: .3rem solid @secondary-color;
            }

            p {
                padding: 1rem;
                box-shadow: 3px 3px 2px black;
            }

            .about-dev-content {
                @media @desktop {
                    .flex(column);
                    align-items: center;
                }
                .about-dev-content-text {
                    .flex(column);
                    align-items: flex-end;
                    @media @desktop {
                        align-items: center;
                    }
                    h3 {
                        background: @font-color;
                        color: black;
                        width: 15rem;
                        padding: @small/2;
                        border-bottom: @primary-color 0.3rem solid;
                    }
    
                    p {
                        background: @secondary-color;
                        width: 90%;
                        border-radius: 2rem;
                    }
                }

                .flex-start {
                    align-items:flex-start;
                    @media @desktop {
                        align-items: center;
                    }
                }

 

                .about-dev-icons {
                    .flex(row);
                    .portfolio-icons(@small/2; 0);
                    align-items: center;
                    background: @font-color;
                    width: 20rem;
                    border-top-right-radius: 15rem;
                    @media @desktop {
                        border-radius: 2rem;
                        justify-content: center;
                    }
                    
                }

                .end-row-icons {
                    justify-content: flex-end;
                    border-top-left-radius: 15rem;
                    border-top-right-radius: 0;
                    @media @desktop {
                        border-radius: 2rem;
                        justify-content: center;
                    }
                }
            }
            

            .about-dev-content > div{
                .flex(row);
                justify-content: flex-end;
            }
        
        }
        .inverted-row {
            flex-direction: row-reverse;
            @media @desktop {
                flex-direction: column;
            }
            
        }
    }

    .about-built-banner {
        background: @primary-color;
        background: radial-gradient(circle, rgba(255,195,0,1) 0%, rgba(208,159,1,1) 100%);
        color: black;
        padding: @small 0;
        h2 {
            text-align: center;
            padding: @small/2 0 @small 0;
        }

        div {
            .flex(row; space-evenly);
            align-items: center;
            flex-wrap: wrap;
            img {
                filter: grayscale(100%);
                padding: 0 @small;
            }

            img:hover {
                filter: grayscale(0%);
            }
            img:first-child {
                height: 3.5rem;
                width: 9rem;
            }
            img:nth-child(2) {
                height:9.5rem;
                width: 9rem;
            }
            img:nth-child(3) {
                height: 7.5rem;
                width: 9rem;
            }
            img:nth-child(4) {
                height: 6.5rem;
                width: 9rem;
            }
            img:nth-child(5) {
                height: 4.5rem;
                width: 9rem;
            }
            img:last-child {
                height: 9.5rem;
                width: 9rem;
            }
        }
    }
}