footer {
    .footer-nav {
        display: flex;
        flex-direction: column;
        margin: @small;
    }
    
    .footer-contact-form {
        padding: @small;

        div {
            display: flex;
            justify-content: space-between;
            input {
                width: 48%;
            }
        }

        textarea {
            width: 100%;
            height: 12rem;
        }
    }
}

