#header {
    padding: 1em;
    background: @secondary-background; 
    width: auto;
    height: 20em;
    border-bottom:#FFC300 0.5rem solid ;
    // display: flex;
    h1 {
        color: @primary-color;
        font-size: 7em;
        padding: .5em;
        text-align: center;
        }
    
    #tag-line {
        p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: @small;
        text-align: center;
        // padding: 1em;
        }
    }

    nav {
        width:auto;
        height: 4em;
        // padding: 1em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        background:@primary-background;
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
                li{
                    a{
                    color: @font-color;
                    font-family: @h-font;
                    font-size: 2em;
                    }
                    a:hover {
                    color: rgb(161, 158, 158);
                    } 
                }
            }  
        }
    // hr {
    //     height: 1em;
    //     width: 100%;
    //     background: @primary-color;
    //     }
}