// Color Assignments

// Colors
@primary-color: #FFC300;
@secondary-color: #333;
@primary-background: #4a4a4a;
@secondary-background: #808080;
@font-color: #e0e0e0;

// Font

@h-font: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
@text-font: 'Source Sans Pro', Arial, sans-serif;

// Spacers

@small: 2rem;
@medium: 4rem;


// media

@tablet: ~ "(min-width: 600px)";
@desktop: ~ "(min-width: 800px)";

